<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile">
                    
                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Developer</span>
                    <h1 class="mt-4">Felipe Matheus</h1>
                    <p class="p-des mt-3 mb-4">Estou cursando - CST Em Análise E Desenvolvimento De Sistemas. Meu objetivo é ampliar minha base de conhecimento e experiência, atuando na área de TI ou tecnologia. Levo como competência que sou esforçado, comprometido, tenho sede de aprender, sou dinâmico, transparente e com ótimo relacionamento no trabalho em equipe</p>
                    <a href="assets/Felipe+Matheus+Pereira+Mariano.pdf" target="_blank" class="p-cv">Curriculo<img src="assets/img/dw.png" alt="The icon for curriculum" width="15" class="ml-2"></a>
                </div>
                <div>
                    <h6>Deixe sua sugestão</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Diga o que achou..." autocomplete="off">
                            <button class="btn btn-warning">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>